:root {
    --header-top-color1: #52998A;
    --header-top-color2: #A5C9E5;
    --header-botton-color: #3d3d3d;
    --accent-color-header-botton: #539486;
    --accent-color-header-top: #969696;
    --white-text-color: #ccc;
    --dark-text-color: #000;
    --gray-color: #ccc;
    --orange-color: #f07d11;
}

/*=========================== Global ===========================*/

.text-void{
    white-space: pre-wrap;
}

.badge-warning {
    color: var(--dark-text-color);
    font-size: 17px;
    padding: 3px 8px 6px 8px;
    margin: 8px;
}

.badge-warning:hover {
    color: var(--dark-text-color);
}

.btn,
.dropdown-menu,
.form-control {
    border: none;
    border-radius: 0;
}

.btn,
.dropdown-menu,
.form-control:hover {
    color: var(--accent-color);
}

.form-control:focus {
    color: none;
    border:none;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder {
    color: var(--gray-color);
}

.bg-semi-dark {
    background: var(--header-botton-color);
    color:var(--white-text-color);
}

/*=========================== Header-Top ===========================*/

.list-inline-item a {
    color: var(--dark-text-color);
    font-size: 24px;
    text-decoration: none;
    transition: .2s;
}

.list-inline-item a:hover {
    color: var(--accent-color-header-top);
    font-size: 24px;
    text-decoration: none;
}

.header-logo {
    text-decoration: none;
    color: var(--dark-text-color);
    transition: .2s;
}

.header-logo:hover {
    color: var(--accent-color-header-top);
}

.header-top {
    background: var(--header-top-color1);
    background: -moz-linear-gradient(top, var(--header-top-color1) 0%, var(--header-top-color2) 100%);
    background: -webkit-linear-gradient(top, var(--header-top-color1) 0%,var(--header-top-color2) 100%);
    background: linear-gradient(to bottom, var(--header-top-color1) 0%,var(--header-top-color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--header-top-color1), endColorstr=var(--header-top-color2),GradientType=0 );
}

/*=========================== Header-Botton ===========================*/

.header-botton-items li a {
    color: var(--white-text-color);
    transition: .2s;
}

.header-botton-items li a:hover {
    color: var(--accent-color-header-botton);
}

.nav-item a {
    color: var(--dark-text-color);
    text-decoration: none;
    font-size: 22px;
}

/*=========================== Body ===========================*/

.h2-info{
    position: relative;
}

.h2-info:after {
    position: absolute;
    content:"";
    width:100%;
    top:60%;
    border-top: 1px dashed black;
}

.text-carousel-item {
    color: var(--orange-color);
    text-shadow: 0 0 5px var(--dark-text-color);
}

.text-body {
    font-size: 18px;
}