:root {
    --header-top-color1: #52998A;
    --header-top-color2: #A5C9E5;
    --header-botton-color: #3d3d3d;
    --accent-color-header-botton: #539486;
    --accent-color-header-top: #969696;
    --dark-text-color: #000;
    --gray-color: #ccc;
    --light-gray-color: #eee;
    --hard-gray-color: #6c757d;
    --orange-color: #f07d11;
    --red-offer: #ee6e73;
    --yellow-offer: #ffd333;
}

/*=========================== Global ===========================*/

.text-void{
    white-space: pre-wrap;
}

.badge-warning {
    color: var(--dark-text-color);
    font-size: 17px;
    padding: 3px 8px 6px 8px;
    margin: 8px;
}

.badge-warning:hover {
    color: var(--dark-text-color);
}

.btn,
.dropdown-menu,
.form-control {
    border: none;
    border-radius: 0;
}

.btn,
.dropdown-menu,
.form-control:hover {
    color: var(--accent-color);
}

.form-control:focus {
    color: none;
    border:none;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder {
    color: var(--gray-color);
}

.bg-semi-dark {
    background: var(--header-botton-color);
    color: var(--gray-color);
}

/*=========================== Header-Top ===========================*/

.list-inline-item a {
    color: var(--dark-text-color);
    font-size: 24px;
    text-decoration: none;
    transition: .2s;
}

.list-inline-item a:hover {
    color: var(--accent-color-header-top);
    font-size: 24px;
    text-decoration: none;
}

.header-logo {
    text-decoration: none;
    color: var(--dark-text-color);
    transition: .2s;
}

.header-logo:hover {
    color: var(--accent-color-header-top);
}

.header-top {
    background: var(--header-top-color1);
    background: -moz-linear-gradient(top, var(--header-top-color1) 0%, var(--header-top-color2) 100%);
    background: -webkit-linear-gradient(top, var(--header-top-color1) 0%,var(--header-top-color2) 100%);
    background: linear-gradient(to bottom, var(--header-top-color1) 0%,var(--header-top-color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--header-top-color1), endColorstr=var(--header-top-color2),GradientType=0 );
}

/*=========================== Header-Botton ===========================*/

.header-botton-items li a {
    color: var(--gray-color);
    transition: .2s;
}

.header-botton-items li a:hover {
    color: var(--accent-color-header-botton);
}

.nav-item a {
    color: var(--dark-text-color);
    text-decoration: none;
    font-size: 22px;
}

/*=========================== Body ===========================*/

.text-carousel-item {
    color: var(--orange-color);
    text-shadow: 0 0 5px var(--dark-text-color);
}

/*=========================== Product-Card ===========================*/

.product-card {
    transition: all .3s;
    border: 1px solid var(--gray-color);
    background-color: white;
    position: relative;
}

.product-card:hover {
    box-shadow: 0 2px 18px black;
}

.product-card-offer {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: uppercase;
}

.product-card-offer > div {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.offer-hit {
    background-color: var(--red-offer);
}

.offer-new {
    background-color: var(--yellow-offer);
}

.product-name h4 a {
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
    transition: all 0.3s;
    color:black;
}

.product-details h4 a:hover {
    color: var(--accent-color);
}

.product-details-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 45px;
    overflow: hidden;
}

.product-details-price {
    font-size: 18px;
    color: var(--red-offer);
    font-weight: 600;
    width:80px;
    border: 1px solid;
}

.product-details-price small {
    color: var(--hard-gray-color);
    font-weight: 400;
    text-decoration: 2px line-through;
    font-size: 1rem;
}

.product-img {
    text-align: center;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}