@{
    ViewData["title"] = "AuthUser Area";
}

<h2 class="text-danger">
    AuthUser Area Content
</h2>

<div class="container">
    <div class="row rows-cols-2">
        <p>Jija</p>
        <p>User</p>
    </div>
</div>