@using JijaShop.Services.Abstractions;
<h2>Products</h2>


@inject IProductService _productService
<div class="container-fluid">
	<div class="row">

		@foreach (var item in await _productService.GetProducts())
		{
			<div class="col-8">

			</div>

			<div class="col-4">
				<div class="btn btn-danger" onlick="@_productService">Удалить</div>
			</div>
		}
	</div>
</div>