<h2>Логин</h2>
@{
if (User.Identity.IsAuthenticated)
{
	<div>Пользователь аутентифицирован</div>
}
else
{
	<div>Пользователь не аутентифицирован</div>	
}
}
<div class="container">
	<div class="row">
		<div class="col-4 py-4">
			<div class="row">
				<form method="post" asp-area="UserArea" asp-controller="Auth" asp-action="Login">
					<div>
						<label>Логин</label> <input type="text" name="UserName" /><br />
					</div>
					<div>
						<label>Пароль</label> <input type="password" name="UserPassword" /><br />
					</div>
					<div>
						<label>E-mail</label> <input type="text" name="UserEmail" /><br />
					</div>
					<div class="d-flex justify-content-between">
						<div>
							<label>Не выходить</label> <input type="checkbox"/>
						</div>
						<input type="submit" value="Войти" />
					</div>
				</form>
			</div>
		</div>

		<div class="col-8">
			<div class="row">
				<p>Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин 
					ЛогинЛогин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин 
					Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин Логин 
					ЛогинЛогин Логин Логин Логин Логин Логин Логин
				</p>
			</div>
		</div>
	</div>
</div>

<script src="~/js/helper.js" asp-append-version="true"></script>