<h2>Регистрация</h2>
@{
if (User.Identity.IsAuthenticated)
{
	<div>Пользователь аутентифицирован</div>
}
else
{
	<div>Пользователь не аутентифицирован</div>	
}
}
<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="row">
				<form method="post" asp-area="UserArea" asp-controller="Auth" asp-action="Register">
					<lable>Логин</lable> <input type="text" name="UserName" /><br />
					<label>Пароль</label> <input type="text" name="UserPassword" /><br />
					<label>E-mail почта</label> <input type="text" name="UserEmail" /><br />
					<input type="submit" value="Войти" />
				</form>
			</div>
		</div>

		<div class="col-8">
			<div>
				<p>
					Регистрация РегистрацияРегистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация
					РегистрацияРегистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация РегистрацияРегистрация 
					РегистрацияРегистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация 
					РегистрацияРегистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация Регистрация 
				</p>
			</div>
		</div>
	</div>
</div>