<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JijaShop</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JijaShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <header class="user-header-background-color">
        <div class="container-flex">
            <div class="row">
                <div class="col-2 border">
                    <p class="header-company-name d-flex justify-content-center align-content-center mb-0">Jija Shop</p>
                </div>

                <div class="col-8 border">
                    <ul class="header-ul-navbar d-flex mb-0">
                        <li class="col">
                            <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>

                        <li class="col">
                            <a class="btn" asp-area="" asp-controller="Home" asp-action="Products">Товары</a>
                        </li>

                        <li class="col">
                            <a class="btn" asp-area="" asp-controller="Home" asp-action="Info">О нас</a>
                        </li>
                    </ul>
                </div>

                <div class="col-2 border">
                    <ul class="header-ul-navbar d-flex mb-0">
                        <li class="col">
                            <a class="btn" asp-area="" asp-controller="Auth" asp-action="Login">Войти</a>
                        </li>

                        <li class="col">
                            <a class="btn" asp-area="" asp-controller="Auth" asp-action="Register">Регистрация</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - JijaShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>