<div class="header-top">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">

            <div class="col-6 col-md">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="container-fluid">
                        <a asp-area="" asp-controller="" asp-action="Index" class="header-logo h1">JijaShop</a>
                    </div>
                </nav>
            </div>

            <div class="col-6 col-md">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Найти"
                               aria-label="Searching" aria-describedby="search-button" />

                        <button class="btn btn-light" type="submit" id="search-button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>


            <div class="col d-none d-md-block">

                <ul class="list-inline d-flex justify-content-end my-1">
                    <li class="list-inline-item mx-3">
                        <a asp-area="" asp-controller="Auth" asp-action="Login">Войти</a>
                    </li>

                    <li class="list-inline-item mx-3">
                        <a asp-area="" asp-controller="Auth" asp-action="Register">Регистрация</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="header-botton">
    <div class="container-fluid">
        <nav class="row navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <div class="col">

                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="offcanvas offcanvas-start" id="offcanvasNavbar" tabindex="-1"
                         aria-labelledby="offcanvasNavbarLable">

                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasLabel">JijaShop</h5>
                            <button class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>

                        <div class="offcanvas-body">
                            <div class="col">
                                <ul class="navbar-nav header-botton-items px-1">
                                    <li class="nav-item">
                                        @Html.ActionLink("Главная", "Index", "Home", htmlAttributes: new {@class = "nav-link"})
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Товары", "Products", "Home", htmlAttributes: new {@class = "nav-link"})
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("О Нас", "Info", "Home", htmlAttributes: new {@class = "nav-link"})
                                    </li>
                                </ul>
                            </div>

                            <div class="col d-flex align-items-center justify-content-start justify-content-lg-end">
                                <ul class="navbar-nav header-botton-items px-0 px-lg-1 pt-4 py-lg-0">

                                    <li class="nav-item py-2 py-lg-0 px-1 mx-lg-2">
                                        <a class="position-relative" asp-area="" asp-controller="Home" asp-action="Favorites">
                                            <i class="bi bi-heart-fill"></i>
                                            Избраное
                                            <span class="badge-warning position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">2</span>
                                        </a>
                                    </li>

                                    <li class="nav-item py-2 py-lg-0 px-1 mx-lg-2">
                                        <a class="position-relative" asp-area="" asp-controller="Home" asp-action="Jija">
                                            <i class="bi bi-bag-check-fill"></i>
                                            Корзина
                                            <span class="badge-warning position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">3</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>