@using JijaShop.Models.ViewModels;
@using JijaShop.Models.DTOModels;
@using JijaShop.Models.Entities;
@using AutoMapper;

@model UserIndexViewModel

<div class="container">
	<div class="row">
		<div class="col-md-9 p-0" style="background-color: #D3D3D3;">
			<ul class="row row-cols-3 text-center d-flex mx-1 my-1 p-0">
			@foreach (var product in await Model?.ProductService?.GetProducts())
			{
				<li class="body-user-item col">
					<div class="h2">@product.Name</div>
					<img class="body-product-item align-content-center" src="~/Images/product1.jpg" />
					<div>Осталось в наличии: @product.Quantity</div>
				</li>
			}
			</ul>
		</div>

		<div class="col-lg-3" style="background-color: whitesmoke">
			<div class="row">
				<div class="col-4">
					<p>Jija</p>
				</div>
			</div>
		</div>
	</div>
</div>