<div class="row m-0">
    <div class="col-xxl-8 p-0">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <a href="#TemperatureRegime">
                        <img src="~/Images/Slider/SliderImage1.png" class="d-block w-100">
                        <div class="carousel-caption text-carousel-item">
                            <h2>Температурный режим</h2>
                            <p>На наших складах всегда поддерживается идеальная температура для хранения</p>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="#Professionals">
                        <img src="~/Images/Slider/SliderImage2.png" class="d-block w-100">
                        <div class="carousel-caption text-carousel-item">
                            <h2>Качество</h2>
                            <p>У нас работают только высококвалифицированные специалисты</p>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <a href="#Security">
                        <img src="~/Images/Slider/SliderImage3.png" class="d-block w-100">
                        <div class="carousel-caption text-carousel-item">
                            <h2>Безопасность</h2>
                            <p>Наши системы защиты всегда развиваются</p>
                        </div>
                    </a>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="col">
        <div class=container-fluid>
            <h2 class="d-flex justify-content-center align-content-center p-2">
                <span>Этой компании не существует</span>
            </h2>

            <p class="text-body p-1">
                <span class="text-void">     </span>
                Отказ от JQuery в пользу JavaScript

                Наверно самым большим нововведением в данной версии будет отказ от библиотеки jQuery в пользу нативного JavaScript.
                Это касается js-плагинов Бутстрап, которые долгое время работали с применением jQuery. Да, jQuery это популярная библиотека, 
                которую сегодня все еще используют миллионы сайтов по миру, но благодаря прогрессу в развитии JavaScript и браузерной поддержке 
                мы сегодня имеем возможность не применять jQuery в своих проектах, как зависимость. Лично я уже не применяю jQuery в новых проектах
                и пишу на чистом JS с поддержкой синтаксиса ES6. Это все означает, что проекты созданные с Bootstrap 5 станут значительно легче
                по размеру файлов и быстрее в плане загрузки страниц.

                Хорошей новостью является и то, что если вы хотите все еще использовать jQuery, то это возможно. <br />
            </p>
            <p class="text-body p-1"><span class="text-void">     </span>
                Если Bootstrap обнаружит jQuery, то он автоматически добавит все компоненты в систему плагинов. А это означает, что 
                вы сможете вызывать их как и раньше. Например, плагин всплывающей подсказки можно вызывать следующим образом
                — $('[data-bs-toggle="tooltip"]').tooltip(). Тоже самое касается всех остальных плагинов.

                Вообще хочу сказать, что по обновлению js-плагинов была проведена титаническая работа. И в основном, в текущих бета-версиях тестируются и устраняются баги именно js-плагинов.
            </p>
        </div>
    </div>
</div>

<div class="contaier-fluid">
    <div class="col-12" style="background-color:#e8e8e8;">
        <h2 class="p-2 text-body-title" id="TemperatureRegime">Температурный режим</h2>
        <p class="text-body px-2">
            <span class="text-void">     </span>На складах с продуктами поддерживается холодная температура из нескольких причин. Во-первых, холодные температуры играют важную роль
            в предотвращении размножения бактерий и распада продуктов. Низкая температура замедляет рост микроорганизмов, что помогает продуктам
            сохранять свежесть и качество на протяжении длительного времени. Во-вторых, холодные температуры способствуют сохранению питательных веществ в продуктах. Многие витамины и другие полезные вещества
            более стабильны при низких температурах, их разрушение замедляется или прекращается при охлаждении продуктов. Поэтому поддержание холодной
            температуры на складе помогает сохранить пищевую ценность продуктов.

            Кроме того, холодные температуры могут иметь экономическое значение. Они позволяют продуктам иметь более длительный срок годности, что снижает
            потери от испорченной продукции. Это особенно важно для перевозки и хранения перишабельных товаров, таких как мясо, рыба и молочные продукты.

            Холодные температуры также способствуют соблюдению нормативных требований и стандартов безопасности пищевых продуктов. Во многих странах
            существуют правила, регламентирующие условия хранения продуктов, включая требования к температуре. Поддержание холодных температур на 
            складе помогает соблюдать эти нормы и обеспечивать безопасность пищевой продукции.
        </p>
        <p class="text-body px-2">
            <span class="text-void">     </span>Важным фактором является также спрос на определенные продукты. Некоторые товары, такие как мороженое или замороженные овощи, требуют
            низких температур для сохранения своей текстуры, вкуса и качества. Потребители предпочитают купить такие продукты с хорошо сохраненными 
            характеристиками, поэтому необходимо обеспечивать холодные условия хранения.

            Организация холодной цепи поставок также может требовать хранения продуктов на низких температурах. Компании, занимающиеся поставками
            и логистикой, могут использовать холодильные склады для временного хранения продуктов до их доставки. Это помогает снизить риск потери
            качества и повысить надежность поставок.

            Необходимо отметить, что холодные температуры на складах могут требовать дополнительных инвестиций и затрат на энергию. Обслуживание
            и обновление холодильного оборудования, контроль и регулировка температуры - все это является неотъемлемой частью организации складского
            хранения продуктов. Однако, эти затраты могут быть оправданы благодаря улучшению качества продукции, снижению потерь от испорченных товаров 
            и обеспечению безопасности пищевых продуктов.
        </p>
        <p class="text-body px-2 mb-0">
            <span class="text-void">     </span>В заключение, холодные температуры на складах с продуктами имеют ряд преимуществ. Они способствуют сохранению свежести, питательных
            веществ и безопасности продуктов, а также повышают их срок годности. Холодные температуры также поддерживают спрос на перевозку и 
            хранение определенных товаров. Несмотря на дополнительные затраты, поддержание холодной температуры является важным аспектом современной 
            складской логистики и хранения пищевых продуктов.
        </p>
    </div>

    <div class="col-12">

        <h2 class="px-2 text-body-title" id="Professionals">
            <span>Качество</span>
        </h2>
        <p class="text-body px-2">
            <span class="text-void">     </span>Уникальный и качественный товар, доступный прямо сейчас на складе, обязательно завладеет вашим вниманием. Этот потрясающий
            продукт идеально сочетает в себе стиль, функциональность и непревзойденное качество. Вне всякого сомнения, он достоин места в вашем личном арсенале.

            Когда вы приобретаете этот продукт, вы получаете настоящую выгоду. Его превосходные характеристики и предельная надежность 
            превращают его в неотъемлемую часть вашей повседневной жизни. Благодаря безупречному исполнению и долговечности, этот товар будет радовать вас не один год.

            Не только что-то среднее, этот товар воплощает в себе исключительность. Он изготовлен с использованием самых передовых 
            технологий и материалов. Каждая деталь продумана до мельчайших подробностей, чтобы вы могли наслаждаться удобством и эстетическим удовольствием.

            Кроме того, оригинальный дизайн и стильный внешний вид этого товара сделают его визуальным акцентом для вас и вашего окружения. 
            Он станет неотъемлемой частью вашего стиля и подчеркнет вашу индивидуальность.

            Более того, наша команда проводит тщательную проверку каждого товара, прежде чем он попадает на склад. Мы гарантируем, что вам 
            достанется именно то, что вы ожидаете - высококачественный и безупречный товар. Вы можете быть уверены, что его функции и характеристики будут соответствовать вашим потребностям и ожиданиям.

        </p>
        <p class="text-body px-2 mb-0">
            <span class="text-void">     </span>Покупка этого товара - это не только приобретение продукта, но и вложение в ваше будущее. Вы сможете наслаждаться его преимуществами 
            на протяжении долгого времени, получая удовольствие от высокого качества выполнения и эффективности его работы.

            Товар, который вы ищете, находится прямо перед вами на складе. Не упустите эту возможность и добавьте его в свою корзину прямо сейчас.
            Не упустите шанс ощутить настоящее качество и стиль, которые превзойдут все ваши ожидания. Приобретая этот товар, вы получаете намного больше, чем просто продукт.
        </p>
    </div>

    <div class="col-12" style="background-color:#e8e8e8;">
        <h2 class="px-2 text-body-title" id="Security">Безопасность</h2>
        
        <p class="text-body px-2">
            <span class="text-void">     </span>Безопасность - наш главный приоритет в производстве и хранении товаров! Мы гордимся тем, что обеспечиваем высочайший уровень
            безопасности на всех этапах производства и в наших складах. Когда дело касается ваших покупок, мы никогда не идем на компромисс!

            Наш процесс производства полностью соответствует самым строгим стандартам безопасности. Мы детально контролируем каждую фазу: от поставки качественных и сертифицированных
            сырьевых материалов до тщательных проверок наших готовых товаров перед отправкой. Все это делается для того, чтобы гарантировать, что вы будете получать исключительно
            безопасные и надежные продукты.

            Наши современные и безопасные склады оборудованы передовыми системами безопасности, которые обеспечивают полную защиту ваших товаров от любых внешних факторов.
            Мы применяем строгие протоколы хранения и тщательно контролируем условия температуры, влажности и освещения. Вы можете быть полностью уверены, что наши товары 
            будут сохранены в идеальном состоянии до момента их доставки.

            Безопасность наших клиентов является нашим главным приоритетом. Мы постоянно обновляем и совершенствуем наши меры безопасности, чтобы быть уверенными, что ваши
            покупки прибудут к вам в безупречном состоянии. Кроме того, наша команда специалистов всегда готова ответить на ваши вопросы и оказать поддержку в любое время.
        </p>
        <p class="text-body px-2 mb-0">
            <span class="text-void">     </span>Покупая наш товар, вы вкладываете свою доверие не только в качество продукции, но и в нашу способность обеспечить безопасность. Мы стремимся предоставить вам
            опыт покупки, который будет удовлетворять самые высокие ожидания в плане качества и безопасности.

            Итак, когда дело доходит до безопасности производства и складского хранения, мы отдаём приоритет вашему здоровью и уверенности в покупке. Разве это не важно
            при выборе товара? Присоединяйтесь к нам сегодня и наслаждайтесь безопасностью, которую мы приносим прямо к вам!
        </p>
    </div>
</div>