@using JijaShop.Services.Abstractions;
@{
    ViewData["title"] = "Список товаров";
}
@inject IProductService _productService
<section>
    <div class="container-fluid" style="background-color:#e8e8e8;">
        <div class="row mx-2">
            <div class="col-lg-3 col-md-4 col-sm-6 col-sm-12 mb-3">
                <h2>Список товаров</h2>

                <div class="product-card p-1">
                    <div class="product-card-offer">
                        <div class="offer-hit">Hit</div>
                        <div class="offer-new">New</div>
                    </div>
                    <div class="product-img">
                        <a href="product.html"><img src="~/Images/1.jpg" /></a>
                    </div>
                    <div class="product-name">
                        <h4>
                            <a href="products.html">
                                ProductName1
                            </a>
                        </h4>
    
                        <p class="product-details-description">
                            ProductDetailsDescription1
                        </p>
    
                        <div class="d-flex justify-content-between">
                            <div class="product-details-price">
                                <small>70$</small>
                                39$
                            </div>
    
                            <div class="product-links">
                                <a href="#" class="btn btn-outline-secondary add-to-cart"><i class="bi bi-bag-check-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-4 border-0">
                <h2>Новинки</h2>
            </div>
        </div>
    </div>
</section>