@using JijaShop.Api.Data.Models.DTOModels;
@model IEnumerable<ProductDto>

@if (Model != null)
{
    @foreach (var product in Model)
    {
        <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12 mb-3">
            @await Html.PartialAsync("ProductsPartial/Product", product)
        </div>
    }
}

<script>
    function addToFavorite(productName) {
        $.post('/UserArea/Favorites/ChangeFavoriteProduct', { productName: productName })
            .done(function (data) {

            })
            .fail(function (error) {

            });
    }
</script>