<div class="container-fluid bg-dark pb-2 pt-4">
	<div class="row">

		<div class="col-4 d-flex flex-column align-items-center">
			<div class="footer-content-text">
				<h4>Рабочее время</h4>

				<ul class="list-unstyled">
					<li>Воронеж</li>
					<li>пн-пт 9:00-18:00</li>
				</ul>
			</div>
		</div>

		<div class="col-4 d-flex flex-column align-items-center">
			<div class="footer-content-text">
				<h4>Подпишитесь на нас</h4>

				<ul class="list-unstyled">
					<li>
						<i class="bi bi-whatsapp"></i>
					</li>
					<li>
						<i class="bi bi-instagram"></i>
					</li>
					<li>
						<i class="bi bi-facebook"></i>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-4 d-flex flex-column align-items-center">
			<div class="footer-content-text">
				<h4>Контакты</h4>

				<ul class="list-unstyled">
					<li><a href="tel:88005553535">8-800-555-35-35</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<button type="button" class="to-header" id="scrollToTop">
	<i class="bi bi-arrow-up"></i>
</button>

<script>
	document.getElementById('scrollToTop').addEventListener('click', function () {
		window.scrollTo({
			top: 0,
			behavior: 'smooth'
		});
	});
</script>