<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("AdminHeadPartial")
    @await Html.PartialAsync("AdminLinksPartial")
</head>

<body>
    @await Html.PartialAsync("AdminScriptsPartial")

    <header class="shadow-lg">
        @await Html.PartialAsync("AdminHeaderPartial")
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        @await Html.PartialAsync("AdminFooterPartial")
    </footer>

    @await RenderSectionAsync("AdminScripts", required: false)
</body>
</html>