@using JijaShop.Services.Abstractions;
@{
	ViewData["title"] = "Продукты";
}
@inject IProductService _productService

<h2>Продукты</h2>

<div class="container-fluid">
	<div class="row">
		<div class="col-8">
			<div class="row d-flex">
				<ul class="list-group">
				@foreach (var product in await _productService.GetProducts())
				{
					<li class="list-group-item d-flex justify-content-between">
						<p>Название: @product.Name</p>
						<p>Количество: @product.Quantity</p>
						<div class="btn btn-danger">Удалить</div>
						<div class="btn btn-primary">Реадктировать</div>
					</li>
				}
				</ul>
			</div>
		</div>

		<div class="col-4" style="background-color: whitesmoke">
			<div class="col">Products</div>
		</div>
	</div>
</div>