@using JijaShop.Models.DTOModels;

@if(Model != null)
{
    <div class="col category-sorter">
        <div class="p-1">
            <h5 class="text-center">Сортировка по категориям</h5>
        </div>
    </div>
}