@using JijaShop.Api.ViewModels;
@model ProductsViewModel
@{
    ViewData["title"] = "Список товаров";
}
<section>
    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-8">
                <div id="ProductsContainer" class="row mx-2">
                    @await Html.PartialAsync("IndexAdminProductsPartial", Model?.Products)
                </div>

                <div class="d-flex justify-content-center pb-3">
                    <button id="GetMoreUsers" class="text-body-download p-2">Загрузить ещё</button>
                </div>
            </div>

            <div class="col-4">
                <div class="row mx-3">
                    @await Html.PartialAsync("IndexAdminSideBar")
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#GetMoreAdminProducts').click(function () {
                $.ajax({
                    url: '@Url.Action("IndexAdminProductsPartial", "Products")',
                    type: 'GET',
                    success: function (result) {
                        $('#ProductsAdminContainer').html(result);
                    },
                    error: function () {
                        alert('Error occurred while refreshing products.');
                    }
                });
            });
        });
    </script>
</section>