<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("HeadPartial")
    @await Html.PartialAsync("LinksPartial")
</head>

<body>
    @await Html.PartialAsync("ScriptsPartial")

    <header class="shadow-lg">
        @await Html.PartialAsync("HeaderPartial")
    </header>

    <main role="main" class="body-main-container">
        @RenderBody()
    </main>

    <footer class="footer text-muted">
        @await Html.PartialAsync("FooterPartial")
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>